html{
	background-color:#FFB0AD;
	text-align:justify;

}

#titlebanner{
	margin-top:0%;
	width:100%;

}

a{
	color:#4B4D5B;
}

ul{
  padding-left:5px;
  list-style-type: square;  
}	



table
{
	height:170px;
	border-top-width:0;
	border-color:#FFB0AD;
	font-family:"Garamond", monospace;
	margin-top:2%;
}

	
td{	
	border:32px solid;
	border-top-width:20px;
	border-color:#FFB0AD;
	padding:20px;
	width: 15%;
	vertical-align: top;
	color:#4B4D5B;

	
}

#citationslink
{
	padding-left:18%;
}

.short{
	height:60%;
	width: 100%;
	text-align: left;
	line-height: 100px;
	padding-left:10%;
	font-size:20px
}	

.subheadings
{
	background-color:white;
	background-image:url("Images/bluegrid1.jpg");
	padding-left: 45px;
	padding-right: 0px;
	padding-top:30px;
	padding-bottom:30px;
	background-size:100%;	
}
#introductionheading
{
	padding:2%;
	padding-top:1%;
	font-size:40px;
	padding-bottom:1%;
	background-color:#DB9D8C;
	width:24%;
	margin-left:5.5%;
	margin-top:3%;
	text-align:left;
}

.introductionparagraph
{
	background-color:#f2e2d3;
	margin-bottom:30px;
	padding:1.5%;
	letter-spacing:1px;
	line-height:27px;
	width:33%;
	height:40%;
}
#introduction
{
	background-color:#FACFBC;
	background-image:url("Images/tvgirl.jpg");
	background-repeat:no-repeat;
	background-size:58%;
	background-position:100%;
	padding-bottom: 0.2px;
}
	
#colourfultv
{
	float:right;
	margin-right:2%;
	height:400px;
}
#tableofcontent
{
	padding-top:25%;
	padding-left:10%;
	font-weight:bold;
	font-size:25px;
}
#cell_1
{
	margin-left:5%;
	text-align:left;
	font-family:"Garamond", monospace;
	background-image:url("Images/purplegrid.jpg");
	color:#4B4D5B;
	background-size:100%;
	padding-left: 45px;
	padding-right: 0px;
	padding-top:30px;
	padding-bottom:30px;
}
.explanation
{
	text-align:center;
	padding:3%;
	width:50%;
	margin-left:20%;
	margin-top:10%;
	border-radius:0px;
	z-index: 100;
	position: absolute;
}
.bordersquares
{
	position:absolute;
	width:97%;
}
#pre-productionheading
{
	background-image:url("Images/Pre-production.jpg");
	background-size:100%;
	padding:8%;
	margin-top:7%;
	
}

#production
{
	background-image:url("Images/Production.jpg");
}

#post-production
{
	background-image:url("Images/Post-production.jpg");
}

.h1Title{
	background-color: #FACFBC;
	width: 50%;
	margin: 0 auto;
	
}

.banner
{
	padding:10%;
	margin-left:0%;
	margin-right:0%;
	text-align:center;
	font-size:30px
}

h2
{
	margin-left:5%;
	margin-right:50%;
	font-size:25px
	padding:5%;
}

.firstparagraph
{
	margin-top:40%;
}
#writing
{ 
	background-color:#C5D7EF;
	padding:5%;
p
{
	margin-left:5%;
	margin-right:50%;
	font-family:"Courier New", monospace;
	font-size:18px;
	line-height:35px;
	padding:2%;
	border-radius:25px;
}